---
connection: local
openshift_cluster_content:
  - object: app-builds
    content:
      - name: app-build
        template: "https://raw.githubusercontent.com/rht-labs/labs-ci-cd/v3.9.0/openshift-templates/s2i-app-build/template-with-secrets.yaml"
        params: "{{ playbook_dir }}/params/build"
        namespace: "{{ ci_cd.namespace }}"
        tags:
          - build
  - object: dev-stage
    content:
      - name: app-deploy
        template: "{{ playbook_dir }}/templates/deploy.yaml"
        params: "{{ playbook_dir }}/params/dev"
        namespace: "{{ dev.namespace }}"
        tags:
          - dev
  - object: test-stage
    content:
      - name: app-deploy
        template: "{{ playbook_dir }}/templates/deploy.yaml"
        params: "{{ playbook_dir }}/params/test"
        namespace: "{{ test.namespace }}"
        tags:
          - test
